@font-face {
  font-family: 'SourceSansPro-Regular';
  font-weight: 400;
  font-style: normal;
  src: url(./SourceSansPro-Regular.otf);
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  font-weight: 800;
  font-style: normal;
  src: url(./SourceSansPro-Bold.otf);
}

@font-face {
  font-family: 'SourceSansPro-It';
  src: url(./SourceSansPro-It.otf);
}

@font-face {
  font-family: 'FuturaPT-Book';
  src: url(./ParaType-FuturaPTBook.eot);
  src: url(./ParaType-FuturaPTBook.eot?#iefix) format('embedded-opentype'),
    url(./ParaType-FuturaPTBook.woff2) format('woff2'),
    url(./ParaType-FuturaPTBook.woff) format('woff'),
    url(./ParaType-FuturaPTBook.ttf) format('truetype');
}

@font-face {
  font-family: 'FuturaPT-Heavy';
  src: url(./ParaType-FuturaPTHeavy.eot);
  src: url(./ParaType-FuturaPTHeavy.eot?#iefix) format('embedded-opentype'),
    url(./ParaType-FuturaPTHeavy.woff2) format('woff2'),
    url(./ParaType-FuturaPTHeavy.woff) format('woff'),
    url(./ParaType-FuturaPTHeavy.ttf) format('truetype');
}


.source-sans {
  font-family: "SourceSansPro-Regular",
               -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}

.source-sans-bold {
  font-family: "SourceSansPro-Bold",
               -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}

.source-sans-it {
  font-family: "SourceSansPro-It",
               -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}

.futura-heavy {
  font-family: "FuturaPT-Heavy",
               -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}

.futura-book {
    font-family: "FuturaPT-Book",
               -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}
