@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('fonts/SourceSansPro-Regular.otf') format("opentype");
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('fonts/SourceSansPro-Bold.otf') format("opentype");
}

@font-face {
  font-family: 'SourceSansPro-It';
  src: url('fonts/SourceSansPro-It.otf') format("opentype");
}

@font-face {
  font-family: 'FuturaPT-Book';
  font-variant-ligatures: none;
  src: url('fonts/ParaType-FuturaPTBook.woff'),
       url('fonts/ParaType-FuturaPTBook.otf') format("opentype");
}

@font-face {
  font-family: 'FuturaPT-Heavy';
  font-variant-ligatures: none;
  src: url('fonts/ParaType-FuturaPTHeavy.woff'),
       url('fonts/ParaType-FuturaPTHeavy.otf') format("opentype");
}

.source-sans {
  font-family: "SourceSansPro-Regular",
               -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}

.source-sans-b {
  font-family: "SourceSansPro-Bold",
               -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}

.source-sans-i {
  font-family: "SourceSansPro-It",
               -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}

.futura-heavy {
  font-family: "FuturaPT-Heavy",
               -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.futura-book {
    font-family: "FuturaPT-Book",
               -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}
